html, body { margin:0; height: 100%;}
body {
    background:url('../images/header.jpg') no-repeat scroll center top/cover transparent;
    background-attachment: fixed;
    opacity:0.8 !important;
    filter:alpha(opacity=80);

}

.footer {



    color:#CCC !important;
    opacity:0.9 !important;
    filter:alpha(opacity=90);
}

.footer h1 {
    color:#ebebeb;
}